{% extends 'tasks/base.html' %}

{% block content %}
    <div class="max-w-2xl p-6 bg-white rounded-lg shadow-md">
      <h2 class="text-2xl font-semibold mb-4 text-gray-800">Создание задачи</h2>
      <form method="POST" class="space-y-4">
        {% csrf_token %}
        <!-- Название -->
        <div>
          <label for="title" class="block mb-1 text-sm font-medium text-gray-700">Название</label>
          <input id="title" name="title" type="text" placeholder="Введите название задачи"
            class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:border-transparent transition duration-150 ease-in-out"
          />
        </div>

        <!-- Описание -->
        <div>
          <label for="description" class="block mb-1 text-sm font-medium text-gray-700">Описание</label>
          <input id="description" name="description" placeholder="Введите описание задачи" type="text"
            class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:border-transparent transition duration-150 ease-in-out"
          />
        </div>

        <!-- Статус -->
        <div>
          <label for="status" class="block mb-1 text-sm font-medium text-gray-700">Статус</label>
          <select name="status" id="status"
            class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:border-transparent transition duration-150 ease-in-out appearance-none bg-white"
          >
            <option value="" disabled selected hidden>Выберите статус</option>
            {% for status in statuses %}
              <option value="{{ status.id }}">{{ status.name }}</option>
            {% endfor %}
          </select>
        </div>

      <!-- Пользователи -->
        <div>
          <label for="assign" class="block mb-1 text-sm font-medium text-gray-700">Назначить пользователя</label>
          <select name="assign" id="assign"
            class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:border-transparent transition duration-150 ease-in-out appearance-none bg-white"
          >
            <option value="" disabled selected hidden>Выберите пользователя</option>
            {% for assign in users %}
              <option value="{{ assign.id }}">{{ assign.username }}</option>
            {% endfor %}
          </select>
        </div>

      <!-- Проекты -->
        <div>
          <label for="project" class="block mb-1 text-sm font-medium text-gray-700">Выберите проект</label>
          <select name="project" id="project"
            class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:border-transparent transition duration-150 ease-in-out appearance-none bg-white"
          >
            <option value="" disabled selected hidden>Выберите проект</option>
            {% for project in projects %}
              <option value="{{ project.id }}">{{ project.title }}</option>
            {% endfor %}
          </select>
        </div>

        <!-- Дедлайн -->
        <div>
          <label for="deadline" class="block mb-1 text-sm font-medium text-gray-700">Сроки выполнения</label>
          <input id="deadline" type="datetime-local" name="deadline"
            class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:border-transparent transition duration-150 ease-in-out"
          />
        </div>

        <!-- Кнопка -->
        <div>
          <button type="submit"
            class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-semibold py-2 px-4 rounded-lg transition duration-150 ease-in-out"
          >Создать</button>
        </div>

        {% if error %}
            <p class="text-medium text-red-500 text-center">{{ error }}</p>
        {% endif %}

      </form>
    </div>
{% endblock %}