<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
        <style>
            * {
                font-family: "Inter", sans-serif;
            }
        </style>
    </head>
    <body class="h-screen flex justify-center items-center">
        <form method="POST" class="flex flex-col gap-5 p-4 m-4 shadow-md rounded-md max-w-[350px]">
            {% csrf_token %}
            <h2 class="font-semibold text-2xl text-center">{% block form_title %}{% endblock %}</h2>
            <div class="flex flex-col gap-2">
                {% block inputs %}{% endblock %}
            </div>
            <button type="submit" class="font-semibold bg-indigo-500 p-2 text-white cursor-pointer rounded-md mt-3 hover:bg-indigo-600">{% block button %}{% endblock %}</button>
            {% if error %}
                <p class="text-red-500 text-sm text-center">{{ error }}</p>
            {% endif %}
        </form>
    </body>
</html>