<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
    <style>
        * {
            font-family: "Inter", sans-serif;
        }

        .container {
          display: grid;
          grid-template-columns: 0.6fr 2.7fr;
          grid-template-rows: 1fr;
          gap: 5px 50px;
          grid-template-areas:
            "sidebar main";
        }
        .sidebar { grid-area: sidebar; }
        .main { grid-area: main; }
    </style>
</head>
<body>
    <div class="container">
      <aside class="flex flex-col justify-between sidebar p-2 shadow-md rounded-md h-screen">
          <div>
              <div class="flex gap-3 bg-gray-50 p-2 rounded-lg border border-gray-200">
                  <img src="{{ request.user.get_avatar }}" class="w-10 h-10 rounded-full" alt="" />
                  <div>
                      <h4 class="text-base font-medium">{{ request.user.username }}</h4>
                      <p class="text-sm text-gray-500">Статус</p>
                  </div>
              </div>
              <nav>
                  <ul class="flex flex-col mt-4 gap-1">
                      <li>
                          <a class="block border border-gray-200 px-2 py-3 cursor-pointer hover:bg-gray-50 rounded-lg" href="">Проекты</a>
                      </li>
                      <li>
                          <a class="block border border-gray-200 px-2 py-3 cursor-pointer hover:bg-gray-50 rounded-lg" href="">Задачи</a>
                      </li>
                      <li>
                          <a class="block border border-gray-200 px-2 py-3 cursor-pointer hover:bg-gray-50 rounded-lg" href="">Пользователи</a>
                      </li>
                  </ul>
              </nav>
          </div>
          <a href="{% url 'logout' %}" class="text-white bg-red-500 hover:bg-red-400 transition-all rounded-lg p-2">Выйти из аккаунта</a>
      </aside>
      <main class="main mt-12">
          <div class="flex items-start justify-between rounded-lg shadow-md mb-5 p-2">
              <a class="bg-indigo-500 p-1 rounded-md text-white hover:bg-indigo-600" href="{% url 'projects_add' %}">Создать проект</a>
          </div>
          {% block content %}
          {% endblock %}
      </main>
    </div>
</body>
</html>