{% extends 'projects/base.html' %}

{% block content %}
    <div>
        <div>
            <div>
                <span></span>
            </div>
            <ul>
                <li>
                    <div>
                        <h3>Название проекта</h3>
                        <p>Создатель:</p>
                        <div>
                            <span>Начало</span>
                            <span>Конец</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}